<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

  <!--[if gte mso 9]><xml>
<o:OfficeDocumentSettings>
<o:AllowPNG/>
<o:PixelsPerInch>96</o:PixelsPerInch>
</o:OfficeDocumentSettings>
</xml><![endif]-->
  <title>CAMIE PDF</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0 " />
  <meta name="format-detection" content="telephone=no" />

  <!--[if !mso]>

<!-->
  <link
    href="https://fonts.googleapis.com/css?display=swap&amp;family=Nunito+Sans%3A200%2C200i%2C300%2C300i%2C400%2C400i%2C600%2C600i%2C700%2C700i%2C800%2C800i%2C900%2C900i%7COpen+Sans%3A300%2C300i%2C400%2C400i%2C600%2C600i%2C700%2C700i%2C800%2C800i"
    rel="stylesheet" />

  <!--<![endif]-->
  <style type="text/css">
    @import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,900,700,500,300,100);

    * {
      margin: 0;
      box-sizing: border-box;

    }


    [id*='invoice-'] {
      /* Targets all id with 'col-' */
      border-bottom: 1px solid #EEE;
      padding: 30px;
    }



    .effect2 {
      position: relative;
    }

    .effect2:before,
    .effect2:after {
      z-index: -1;
      position: absolute;
      content: "";
      bottom: 15px;
      left: 10px;
      width: 50%;
      top: 80%;
      max-width: 300px;
      background: #777;
      -webkit-box-shadow: 0 15px 10px #777;
      -moz-box-shadow: 0 15px 10px #777;
      box-shadow: 0 15px 10px #777;
      -webkit-transform: rotate(-3deg);
      -moz-transform: rotate(-3deg);
      -o-transform: rotate(-3deg);
      -ms-transform: rotate(-3deg);
      transform: rotate(-3deg);
    }

    .effect2:after {
      -webkit-transform: rotate(3deg);
      -moz-transform: rotate(3deg);
      -o-transform: rotate(3deg);
      -ms-transform: rotate(3deg);
      transform: rotate(3deg);
      right: 10px;
      left: auto;
    }

    .row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
    }

    .col {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;
    }

    label {
      font-weight: 500;
      font-size: 13px;
    }

    .row p {
      color: #666;
      font-size: 12px;
      margin-top: 3px;
    }
  </style>
</head>

<body
  style="-webkit-text-size-adjust: 100% !important;font-family: 'Roboto', sans-serif; -ms-text-size-adjust: 100% !important; -webkit-font-smoothing: antialiased !important; display: block !important; min-width: 100% !important; width: 100% !important; background-color: #000000; margin: 0 auto; padding: 0;overflow-y: hidden;"
  bgcolor="#fafafa">
  <div style="display: none; max-height: 0px; overflow: hidden; mso-hide:all;">From basic Python to artificial
    intelligence, we’ll teach you how to build the right chatbot for the job.</div>
  <div style="display: none; max-height: 0px; overflow: hidden; mso-hide:all;"> ‌ ‌ ‌ </div>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="format-detection" content="date=no" />
  <meta name="format-detection" content="address=no" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="x-apple-disable-message-reformatting" />
  <title>Email Template</title>

  <!--[if gte mso 9]>
	<style type="text/css" media="all">
		sup { font-size: 100% !important; }
	</style>
	<![endif]-->
  <div id="invoiceholder" style="  width:100%;height: 100%;padding-top: 50px;">

    <div id="headerimage" style="  z-index:-1;position:relative;top: -50px;height: 350px;background: linear-gradient(to bottom, rgb(1, 32, 39) 0%, rgb(0, 33, 43) 44%, rgb(0, 33, 43) 100%);
        overflow:hidden; background-attachment: fixed;background-size: 1920px 80%;background-position: 50% -90%;">
    </div>
    <div id="invoice" class="effect2"
      style="  position: relative;  top: -290px;margin: 0 auto;width: 700px;background: #FFF;">

      <div id="invoice-top" style="min-height: 120px;">
        <div class="logo" style=" float: left;
            height: 60px;
            width: 60px;
            background: url(https://digitalchameleon.ai/assets/images/Camie-The-Adaptive-Conversational-AI-Chatbot-for-Banking-and-Financial-Services-Industry-by-DigitalChameleon.png) no-repeat;
            background-size: 60px 60px;"></div>
        <div class="info" style=" display: block;
            float:left;
            margin-left: 20px;">
          <h2 styel="font-size: .9em;">Guest name</h2>
          <p style="  font-size: .7em; color: #666;line-height: 1.2em;"> guest@emailId.com</br>
            61-666-6503
          </p>
        </div>
        <!--End Info-->
        <div class="title" style="float: right;">
          <h1 style=" font-size: 1.5em;color: #222;">Session Logs #1069</h1>
          <p style="text-align: right;  font-size: .7em; color: #666;line-height: 1.2em;">Date: May 27, 2015</br>
            Duration: 01:30
          </p>
        </div>
        <!--End Title-->
      </div>

      <div id="invoice-bot" style="min-height: 250px;">
        <main class="msger-chat">
          <div class="row">
            {{#each fieldData}}
            <div class="col">
              <label for="formGroupExampleInput">{{fieldName}}</label>
              <p>{{fieldValue}}</p>
            </div>
            {{/each}}
          </div>

        </main>
      </div>

      <div class="footer" style=" float:right;margin-top: 30px;text-align: right;">
        <img type="image"
          src="https://digitalchameleon.ai/assets/images/The-Conversational-AI-Chatbot-for-Banking-and-Financial-Services-Industry-by-DigitalChameleon-logo.png"
          alt="logo" style="width:20%">
        </form>


      </div>
    </div>
  </div>
</body>

</html>

<!--[if gte mso 9]>
	<xml>
		<o:OfficeDocumentSettings>
		<o:AllowPNG/>
		<o:PixelsPerInch>96</o:PixelsPerInch>
		</o:OfficeDocumentSettings>
	</xml>
	<![endif]-->
<html>

<head>
  <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
  <meta name="Robots" content="NOINDEX " />
</head>

<body></body>
<script type="text/javascript">
  var gearPage = document.getElementById('GearPage');
  if (null != gearPage) {
    gearPage.parentNode.removeChild(gearPage);
    document.title = "Error";
  }
</script>

</html>
<html>

<head>
  <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
  <meta name="Robots" content="NOINDEX " />
</head>

<body></body>
<script type="text/javascript">
  var gearPage = document.getElementById('GearPage');
  if (null != gearPage) {
    gearPage.parentNode.removeChild(gearPage);
    document.title = "Error";
  }
</script>

</html>